In [5]:
tong = 0
for i in range(101):
    tong = tong + i
print("Tổng = ", tong)

Tổng =  5050

In [8]:
for i in range(0,10,2):
    print(i, end = " , ")

0 , 2 , 4 , 6 , 8 ,

In [10]:
for i in range(5,-1,-1):
    print(i, end = " ")

5 4 3 2 1 0

In [12]:
import random
for i in range(5):
    print(random.randint(1,10))

8
6
1
5
5

In [21]:
for i in range(11):
    num = i * i
    print(i, "X", i, "=",num)

0 X 0 = 0
1 X 1 = 1
2 X 2 = 4
3 X 3 = 9
4 X 4 = 16
5 X 5 = 25
6 X 6 = 36
7 X 7 = 49
8 X 8 = 64
9 X 9 = 81
10 X 10 = 100

In [25]:
my_list = ["Python", "Numpy", "Pandas", "Django", "Flask"]
for i in my_list:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [38]:
my_list = ["Python", "Numpy", "Pandas", "Django", "Flask"]
print(len(my_list))
print(my_list[-1])
print("-----------")
for i in range(-1, -len(my_list)-1,-1):
    print(my_list[i], end = ", ")

5
Flask
-----------
Flask, Django, Pandas, Numpy, Python,

In [45]:
person = {"first_name: ": "Toan",
          "last_name": "Tran Duc" 
    }

for key in person:
    if key == "first_name":
        for name in person["first_name"]:
            print(name)

In [47]:
for i in range(0,101,2):
    print(i, end = ",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [48]:
for i in range(0,101):
    if not i %2:
        print(i, end = ",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [49]:
for i in range(0,101,3):
    print(i, end = ",")

0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75,78,81,84,87,90,93,96,99,

In [52]:
#(i % 2:) tương đương i % 2 != 0
for i in range(0,101):
    if i % 2 != 0:
        print(i, end = ",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,